body{
    background-color: white;
    padding: 100px;
    font-family: 'Poppins', sans-serif;
}
.submit-area{
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area
{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status
{
    margin: 0 20px;
    padding: 20px 40px;
    color: white;
    border-radius: 10px;
}